<% include header.ejs %>

<form>
	<select name="menu" class="target">
		<% for (var i=0; i < dates.length; i++) { %>
		<option value="<%=dates[i][2]%>"><%=dates[i][0]%>...<%=dates[i][1]%></option>
		<%};%>
	</select>
</form>
<ul>
<!--	<% for (var i=0; i < dates.length; i++) { %>
		<li><%=dates[i][0]%>...<%=dates[i][1]%></li>
	<%};%>
</ul>-->
<% include footer.ejs %>